<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { onMounted } from "vue";

const productStore = useProductStore();

onMounted(async () => {
  await productStore.getProducts();
});
function deleteProduct(productID: number) {
  productStore.deleteID = productID;
  productStore.dialogConfirmDelete = true;
}

</script>
<template>
<ProductDialog></ProductDialog>
  <v-btn class="ma-5" width="100px" @click="productStore.dialog = true"
    >ADD NEW</v-btn
  >
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of productStore.products" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <v-btn
            class="mr-5"
            width="100px"
            @click="productStore.editProduct(item)"
            >Edit</v-btn
          ><v-btn width="100px" @click="deleteProduct(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
